:root {
    --normal: brown;
    --fire: orangered;
    --water: blue;
    --grass: green;
    --electric: yellow;
    --ice: lightblue;
    --fighting: crimson;
    --poison: purple;
    --ground: tan;
    --flying: mediumpurple;
    --psychic: pink;
    --bug: yellowgreen;
    --rock: darkgray;
    --ghost: lightgray;
    --dark: black;
    --dragon: indigo;
    --steel: gray;
    --fairy: lightpink;
}



.PokeCardTitle a{
    text-decoration: none;
}

.typesAbilities{
    display: flex;
}

.card {
    margin: 1rem .1rem 1rem .1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
