.titleImg {
  width: 80%;
  align-self: center;
}

.allContent {
  padding-top: 4.9rem;
  display: flex;
}

.navbar {
  position: fixed;
}
.SideBarHolder{
  position: fixed;
  left: 0px;
  width: 25%;
  height: 100%;
  overflow: scroll;

}

.bodyContent{
  padding-left:25%;
  padding-right: 5%;
  display: flex;
  flex-direction: column;
}

.PokeCardGroup {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: .1rem
}

